<%= content_for :custome_script do %>
  <%= javascript_include_tag 'mxClient' %>
<% end %>

<%= render 'procesos/nav' %>
<style>
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }
</style>
<main role="main" class="container clearfix" id="main-div-flowchart" style="margin-top: 15px;width: 1110px;box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);background: #ffffff;">
<div class="my-3 p-3 bg-white rounded box-shadow" style="display: inline-block;box-shadow: none;width:30%;vertical-align: top;">
<br>
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Nombre:</strong>
    <%= @proceso.nombre %>
  </p>
  
  <p>
    <strong>Commits:</strong>
    <%= @proceso.commits %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <%= @proceso.status %>
  </p>
  
  <p>
    <strong>Contribuidores:</strong>
    <%= @proceso.contribuidores %>
  </p>
  
  <p>
    <strong>Version:</strong>
    <%= @proceso.version %>
  </p>
    <p>
      <strong>Rectangle:</strong>
      <%= @proceso.flowchart_xml.scan(/(?=#{"rectangle"})/).count +  @proceso.flowchart_xml.scan(/(?=#{"rounded"})/).count %>
    </p>
    <p>
      <strong>Circles:</strong>
      <%= @proceso.flowchart_xml.scan(/(?=#{"ellipse"})/).count %>
    </p>
  
  <%= link_to 'Edit', edit_proceso_path(@proceso) %> |
  <%= link_to 'Back', procesos_path %>
</div>
  <div id="show-flowcharts" style="display: inline-block; float: right; position: relative;width:70%;vertical-align: top;padding-bottom: 20px;">
    <%= @proceso.flowchart_image.html_safe %>
  </div>
</main>
